.input {
  width: 24rem;
  height: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 1px solid rgb(230, 207, 0);
}

.textarea {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 1px solid rgb(230, 207, 0);
}

.label {
  margin-bottom: 0.6rem;
  font-weight: normal;
}
